// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #0D0D0D;
$primary-text:          #fff;
$links:                 #777;
$borders:               #464646;

// positioning
$general-position:      center;

// menu
$menu-textcolor:        #fff;
$menu-background:       #e46c0a;
$menu-hover-background: #f7994b;
$main-menu-font-size:   22px;
$body-font-size:        18px;
