body {
  background: $brand-primary;
  color: $primary-text;
  text-align: $general-position;
}

a, a:focus, a:hover {
    color: $links;
}

p {
  font-size: $body-font-size;
}

.logo-container {
  margin: 0 auto;
  border-bottom: 1px solid $borders;
  margin-bottom: 2em;
  width: 80%;
}

.logo-container img {
  margin: 1em;
}

.nav-primary .nav > li > a {
  color: $menu-textcolor;
  font-size: $main-menu-font-size;
}

.nav-primary .nav > li {
  display: inline-block;
  background: #0D0D0D;
}

.nav-primary .nav > li > a:hover {
  background: $menu-hover-background;
}

.nav-primary .nav > li .sub-menu {
  display: none;
}

.nav-primary .nav > li:hover .sub-menu {
  display: block;
  position: absolute;
  float: left;
  background: $menu-hover-background;
  left: 20%;
  z-index: 100;
  list-style: none;
  text-align: left;
  padding-left: 0px;
}

.sub-menu a {
  color: $primary-text;
}

.sub-menu a:hover {
  text-decoration: none;
}

.sub-menu li:hover {
  background: $menu-background;
}

.nav-primary .nav > li .sub-menu {
  margin: 0px 0px;
  padding: 4px;
  min-width: 140px;
}

.nav-primary .nav > li .sub-menu a{
  width: 100%;
}

.nav-primary .nav > li .sub-menu li{
  padding: 4px 10px;
}

.nav-primary .nav > li.current_page_item, .nav-primary .nav > li.current-menu-ancestor {
  background: $menu-background;
}
